<div class="row">
    <div ng-show="$ctrl.tryQrcodeFailed">
        <div class="alert alert-warning">The data can not be processed.</div>
        <button class="btn-primary btn" ng-click="$ctrl.tryAgain()">Try Again</button>
    </div>
    <div ng-show="!$ctrl.tryQrcodeFailed && !$ctrl.decodedMessage">
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
        <div class="col-md-6 col-sm-8 col-xs-10">
            <video id="preview" style="width: 100%; height: auto"></video>
            <button class="btn btn-danger pull-right" ng-click="$ctrl.stopCamera()">Stop Camera</button>
        </div>
    </div>

    <div ng-if="$ctrl.decodedMessage">
        <div class="col-md-1 col-sm-3 col-xs-1"></div>
        <div class="col-md-4 col-sm-6 col-xs-10">
            <div qr-code content='$ctrl.decodedMessage.address' width="100%" height="100%" style="border: 1px solid"></div>
            <!-- <div class="text-muted">{{$ctrl.qrcodeContent}}</div> -->
            <div class="divH20"></div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Get data successfully!</div>
                <div class="panel-body">
                    <table class="table table-repsonsive">
                        <tbody>
                            <tr>
                                <td>Type</td>
                                <td>{{$ctrl.decodedMessage.type}}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{$ctrl.decodedMessage.address}}</td>
                            </tr>
                            <tr>
                                <td>Data</td>
                                <td>{{$ctrl.decodedMessage.data}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div>
                        <button class="btn btn-primary" ng-click="$ctrl.send()" ng-if="$ctrl.decodedMessage.type === 'INFO'">Send point to this address</button>
                        <button class="btn btn-warning" ng-if="$ctrl.decodedMessage.type === 'INFO'">Create an invoice for this address</button>
                        <button class="btn btn-danger" ng-click="$ctrl.send()" ng-if="$ctrl.decodedMessage.type === 'INVOICE'">Pay invoice</button>
                        <button class="btn btn-success" ng-if="$ctrl.decodedMessage.type === 'VOUCHER'">Use this voucher</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>